.game__field {


    .field-table {
        margin: 0 auto;

        &__card {

            padding: 3px;
            @mixin atMedium {
                padding: 7px;
            }
            @mixin atLarge {
                padding: 10px;
            }
        }


        &__card img {
            padding: 2px;
            border: 2px solid #83BB8A;
            border-radius: 3px;
        }
    }
}