.grid {
    min-height: 640px;
    padding-top: 1em;
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    &__col {

        align-self: center;
        width: 700px;
    }

    &__col-sidebar {
        width: 300px;
        position: relative; //align-self: center;
    }
}